    .icon {
    position: relative;
    display: inline-block;
    width: 8em;
    height: 8em;
    vertical-align: middle;
    }

    h1, h2{
    	font-family: Velino,Times New Roman,serif;
        text-transform: none;
    }

    h2{
        font-style: italic;
        border-bottom: 1px solid black;
        font-size: 36px;
    }

    h4{
        text-transform: none;
    }

    body{
        font-family: "Open Sans",sans-serif;
        font-size: 18px;
    }

    
    #programme{
       
    }

